/* Main Content Layout */
.wp-site-blocks {
    display: grid !important;
    grid-template-rows: auto 1fr auto !important;
    min-height: 100vh !important;
    width: 100% !important;
}

main,
.wp-block-group.alignfull[tagname="main"],
.wp-block-template-part-header+.wp-block-group {
    grid-row: 2;
    padding-top: var(--content-top-spacing, 60px) !important;
    padding-bottom: var(--content-bottom-spacing, 60px) !important;
}

/* Layout Constraints */
.is-layout-constrained> :not(.alignleft):not(.alignright):not(.alignfull) {
    max-width: var(--wp--style--global--content-size, 1200px) !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.is-layout-constrained>.is-narrow-width {
    max-width: var(--narrow-content-size, 750px) !important;
}

.is-layout-constrained>.alignwide {
    max-width: var(--wp--style--global--wide-size, 1400px) !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.alignfull {
    margin-left: calc(-50vw + 50%) !important;
    margin-right: calc(-50vw + 50%) !important;
    width: 100vw !important;
    max-width: 100vw !important;
}

.wp-block-group.alignfull {
    padding-left: var(--wp--style--root--padding-right, 1.5rem);
    padding-right: var(--wp--style--root--padding-left, 1.5rem);
    padding-top: var(--section-spacing) !important;
    padding-bottom: var(--section-spacing) !important;
}